/*!
 * 	Theme Variables
 * ----------------------------------------------- */
:root {
  	--body-font-family: 'Chakra Petch', sans-serif; 
  	--body-font-size: 16px; 
  	--body-font-weight: 400; 
  	--body-font-color: #505d68; 
  	--body-line-height: 1.45; 
  	--heading-font-family: 'Chakra Petch', sans-serif; 
  	--heading-font-color: #222426; 
  	--heading-font-weight: 700; 
  	--link-font-color: #222426; 
  	--link-hover-font-color: #ffb424; 
  	--white-color: #ffb424; 
}


/*!
 *	Common
 * ----------------------------------------------- */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  	display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

body {
	margin: 0;
    font-family:var(--body-font-family);
    font-size: var(--body-font-size);
    color: var(--body-font-color);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
    background-color: #fff;
	text-align: left;
}

img {
    max-width: 100%
}

a {
    color: var(--link-font-color);
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}

a:hover {
    color: var(--link-hover-font-color);
}

p {
	margin-top: 0;
    margin-bottom: 24px;
}

p:last-child {
    margin-bottom: 0;
}

abbr[title],
abbr[data-original-title] {
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
	cursor: help;
	border-bottom: 0;
	-webkit-text-decoration-skip-ink: none;
	text-decoration-skip-ink: none;
}

address {
	margin-bottom: 16px;
	font-style: normal;
	line-height: inherit;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 24px;
}

ol,
ul {
  	margin-bottom: 0;
}

dt {
  	font-weight: 700;
}

dd {
	margin-bottom: .5rem;
	margin-left: 0;
}

blockquote {
  	margin: 0 0 24px;
}

b,
strong {
  	font-weight: bold;
}

small {
  	font-size: 80%;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
  	bottom: -.25em;
}

sup {
  	top: -.5em;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-size: 1em;
}

pre {
	margin-top: 0;
	margin-bottom: 16px;
	overflow: auto;
	-ms-overflow-style: scrollbar;
}

figure {
	margin: 0 0 16px;
}

img {
	vertical-align: middle;
	border-style: none;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

table {
  	border-collapse: collapse;
}

caption {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	caption-side: bottom;
}

th {
	text-align: inherit;
	text-align: -webkit-match-parent;
}

label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

button {
  	border-radius: 0;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
  	overflow: visible;
}

button,
select {
  	text-transform: none;
}

[role="button"] {
  	cursor: pointer;
}

select {
  	word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  	-webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  	cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

textarea {
	overflow: auto;
	resize: vertical;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin-bottom: 8px;
	font-size: 24px;
	line-height: inherit;
	color: inherit;
	white-space: normal;
}

progress {
  	vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  	height: auto;
}

[type="search"] {
  	outline-offset: -2px;
  	-webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  	-webkit-appearance: none;
}

::-webkit-file-upload-button {
  	font: inherit;
  	-webkit-appearance: button;
}

output {
  	display: inline-block;
}

summary {
  	display: list-item;
  	cursor: pointer;
}

template {
  	display: none;
}

[hidden] {
  	display: none !important;
}

code {
	font-size: 87.5%;
	color: #e83e8c;
	word-wrap: break-word;
}

a > code {
  	color: inherit;
}

kbd {
	padding: 4px 8px;
	font-size: 87.5%;
	color: #fff;
	background-color: #212529;
	border-radius: 2px;
}

kbd kbd {
	padding: 0;
	font-size: 100%;
	font-weight: 700;
}

pre {
	display: block;
	font-size: 87.5%;
	color: #212529;
}

pre code {
	font-size: inherit;
	color: inherit;
	word-break: normal;
}

blockquote {
	font-size: 28px;
  	font-weight: 600;
	color: #000103;
	padding-left: 32px;
	border-left: 6px solid #ffb424;
	margin-top: 64px;
	margin-bottom: 64px;
}

#wrapper {
    overflow: hidden;
    position: relative;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--heading-font-family);
	color: var(--heading-font-color);
	font-weight: var(--heading-font-weight);
	margin-top: 0;
    margin-bottom: 16px;
	line-height: 1.25;
}

h1, .h1 {
	font-size: 92px
}

h2, .h2 {
	font-size: 64px
}

h3, .h3 {
	font-size: 40px
}

h4, .h4 {
	font-size: 32px
}

h5, .h5 {
	font-size: 24px
}

h6, .h6 {
	font-size: 20px
}

.section {
	padding-top: 100px;
	padding-bottom: 100px;
}

/*!
 *	Spacing
 * ----------------------------------------------- */
.ml-auto,
.mx-auto {
	margin-left: auto !important;
}

.mr-auto,
.mx-auto {
	margin-right: auto !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mt-30 {
	margin-top: 30px !important;
}

.mt-48 {
	margin-top: 48px !important;
}

.mt-64 {
	margin-top: 64px !important;
}

.mt-72 {
	margin-top: 72px !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.mb-24 {
	margin-bottom: 24px !important;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mb-48 {
	margin-bottom: 48px !important;
}

.mb-64 {
	margin-bottom: 64px !important;
}

.mb-100 {
	margin-bottom: 100px !important;
}

.pt-0 {
	padding-top: 0 !important;
}


.text-white {
	color: #fff !important;
}

.text-dark {
	color: #222426 !important;
}

.text-yellow {
	color: #ffb424 !important;
}

.text-center {
	text-align: center !important;
}


/*!
 *	Grid System
 * ----------------------------------------------- */
.wrap, .wrap-fuild {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.wrap *, .wrap-fuild * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.wrap {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.clearfix:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    min-height: 1px; 
    padding-left: 15px;
    padding-right: 15px;
}

.col-1 {
    max-width: 8.33333333%;
    flex: 0 0 8.33333333%;
}

.col-2 { 
    max-width: 16.66666667%;
    flex: 0 0 16.66666667%;
}

.col-3 {
    max-width: 25%;
    flex: 0 0 25%;
}

.col-4 {
    max-width: 33.33333333%; 
    flex: 0 0 33.33333333%;
}

.col-5 {
    max-width: 41.66666667%;
    flex: 0 0 41.66666667%;
}

.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}

.col-7 {
    max-width: 58.33333333%;
    flex: 0 0 58.33333333%;
}

.col-8 {
    max-width: 66.66666667%; 
    flex: 0 0 66.66666667%;
}

.col-9 { 
    max-width: 75%;
    flex: 0 0 75%;
}

.col-10 {
    max-width: 83.33333333%;
    flex: 0 0 83.33333333%;
}

.col-11 {
    max-width: 91.66666667%; 
    flex: 0 0 91.66666667%;
}

.col-12 {
    max-width: 100%;
    flex: 0 0 100%;
}

.no-guttor {
	margin-right: 0;
	margin-left: 0;
}

.no-guttor > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

.flex-reverse {
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.align-center {
	-ms-align-items: center;
	align-items: center;
}

/*!
 *	Form Styling
 * ----------------------------------------------- */
.btn {
	display: inline-block;
	padding: 16px 30px;
	-webkit-appearance: none;
   	-moz-appearance: none;
	background-color: var(--link-font-color);
	font-family: var(--body-font-family);
	font-size: var(--button-font-size);
	font-weight: var(--button-font-weight);
	border: 1px solid transparent;
	cursor: pointer;
	-webkit-transition: all .3s;
    transition: all .3s;
	line-height: 1;
	text-align: center;
	border-radius: 40px;
	color: var(--white-color);
}

.btn:focus {
	outline: none;
}

.btn--block {
	width: 100%;
	display: block;
}

.btn--yellow {
	background-color: #ffb424;
	color: #222426;
}

.btn--yellow:hover {
	background-color: #e69f16;
	color: #222426;
}


.form-control {
	-webkit-appearance: none;
   	-moz-appearance: none;
	width: 100%;
	border: 1px solid #707070;
	height: 44px;
	padding: 8px 16px;
	background-color: #fff;
	font-family: var(--body-font-family);
	font-size: var(--body-font-size);
	color: var(--body-font-color);
}

.form-control:focus {
	border-color: #1a1a1a;
	outline: none;
}

textarea.form-control {
	height: auto;
}

.form-group {
	margin-bottom: 20px;
	position: relative;
}


/*!
 *	Header
 * ----------------------------------------------- */
.site-header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.header-wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.navbar {
	margin-left: auto;
}
